@import url("../themes/colour-theme.css");

body {
    color: var(--text);
    background: var(--bg);
    font-family: "Roboto Mono", monospace;
}

.nav-bar {
    overflow-x: hidden;
    background-color: var(--surface);
    margin: -5px 0 0;
    padding: 10px 2px;
}

.nav-bar .nav-left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.nav-bar .nav-left .nav-logo {
    transition: all 0.3s ease-out;
}

.nav-bar .nav-left .nav-logo:hover {
    scale: 1.05;
    transform: translateY(-5%);
}

.nav-bar .nav-left .nav-links {
    display: inline;
    justify-content: space-evenly;
    gap: 10px;
    margin: -0.25rem 0 0.25rem 15px;
}